# =========================
# NODE / NEXT JS
# =========================
node_modules/
.next/
out/
build/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vercel

# env
.env
.env.local
.env.development.local
.env.production.local

# =========================
# PYTHON / FASTAPI
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# virtual env
venv/
env/
.venv/

# python env files
.env

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# AUDIO TEMP (your project)
# =========================
temp_audio/
.env.local